<script>var hostUrl = "../static/vendor/";</script>
<script src="../static/vendor/plugins/global/plugins.bundle.js"></script>
<script src="../static/vendor/js/scripts.bundle.js"></script>
<script src="../static/vendor/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<script src="../static/vendor/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="../static/vendor/js/widgets.bundle.js"></script>
<script src="../static/vendor/js/custom/widgets.js"></script>
<script src="../static/vendor/js/custom/apps/chat/chat.js"></script>
<script src="../static/vendor/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="../static/vendor/js/custom/utilities/modals/create-app.js"></script>
<script src="../static/vendor/js/custom/utilities/modals/users-search.js"></script>

<script src="../static/vendor/js/custom/apps/projects/project/project.js"></script>