<link rel="shortcut icon" href="../static/vendor/media/logos/rice-plant-logo.png" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<link href="../static/vendor/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<link href="../static/vendor/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
<link href="../static/vendor/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="../static/vendor/css/style.bundle.css" rel="stylesheet" type="text/css" />